.header { 
 text-align: center;
}

.body{ 
 text-align: center; 
 border-style: soild;
 border: 100px;
 border-radius: 9px; 
 margin-top: 4px;

}

.question{
 text-align: center; 
 border-style: soild;
 border: 0;
 border-radius: 9px; 
 margin-top: 4px;
 margin-left: 14%;
 margin-right: 14%;
 background-color: clear;
 margin-bottom: 4px;
 padding-bottom: 4px;
 display: visible;
}

.button-correct{ 
 background-color: aquamarine;

}


.button-wrong{
 backgorund-color: pink; 

}

.button-getScore{
 --hue: purple; 
}

